/* main.css */
@import "base.css"; /*VARIABLES, CONFIGURACIÓN BASE Y RESET*/
@import "darkmode.css"; /*MODO OSCURO*/
@import "layout.css"; /*LAYOUT GENERAL Y CONTENEDORES, Y FORMULARIOS (LOGIN/REGISTRO)*/
@import "components.css"; /*TODOS LOS COMPONENTES*/ 
@import "responsive.css"; /*RESPONSIVE PARA DIFERENTES TAMAÑOS*/